.Player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "LoungeBait";
  font-size: 2em;
  width: 50vw;
  height: 100%;
  display: flex;
}

.total {
  width: 15vw;
  background-color: rgb(255, 64, 64);
  padding: 2%;
  margin: 1%;
}

.score {
  width: 15vw;
  border: 0.05em solid red;
  margin: 1%;
}
