* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "LoungeBait";
  src: url("./font/LoungeBait-JpVa.ttf");
}

img {
  width: 70%;
  height: 50%;
  margin: 10%;
  border: 1px solid #444;
}
.Info {
  font-size: 3em;
  /* width: 30%; */
}
.Button {
  border: 3px solid rgb(211, 33, 45);
  padding: 1%;
  font-family: "LoungeBait";
  font-size: 4vw;
  margin: 1vh;
  background-color: transparent;
  padding: 3%;
}
.App {
  text-align: center;
}

.Game {
  display: flex;
  flex-direction: row;

  font-family: "LoungeBait";
  height: 100vh;
}

.buttons {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 45%;
  flex-direction: column;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.Dice {
  height: 250px;
  display: flex;
  flex-direction: column;
}
.buttons .points {
  font-size: 3em;
  background-color: rgb(132, 226, 235);
}
